.back {
    -fx-background-image: url(images/Restaurants.jpg);
    -fx-background-size: cover;
}

.ttlTable {

    -fx-font-size: 14;
    -fx-fill: white;

}

.toggle-button {
    -fx-text-fill: rgb(0,200,0);
    -fx-base: transparent;
    -fx-background: rgba(255,255,255,0.1);
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-border-color: rgb(0,200,0);
    -fx-border-radius: 10;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-text-fill: orange;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: orange;
    -fx-border-radius: 10;
    -fx-effect: null;
}